*::selection{
       background-color: black;
       color: white;
}
* {
       user-select: none;
       padding: 0;
       margin: 0;
       box-sizing: border-box;
}
:root{
       
       --font:"Times New Roman", "Times New Roman", Times, Baskerville, Georgia, serif; 
}
aside{
       width: 250px;
       height: 300px;
       background-color: red;
       margin-left: 20px;
       margin-top: 20px;
       border-top-right-radius: 30px;
       
}
nav{
       background-color: black !important;
       z-index: 2;
}
.GG10{
       font-family: var(--font);
       text-align: center;
       font-weight: 700 !important;

}
.nav-link {
       font-weight: 700 !important;
       font-family: var(--font);
       font-size: 18px !important;
       text-transform: uppercase;
}
.navbar-brand {
       font-size: 30px !important;
       color: red;
       text-transform: uppercase;
       font-family: var(--font);
}
.ibdd{
       padding-top: -20px;
       width: 0px;
       height: 90px;
       background-color: red;
}
/* .product-container{
       display: grid;
       align-items: center;
       grid-template-columns: repeat(auto-fit, mimax(280px,auto));
       gap: 1.5rem;
       margin-top: 2rem;
}
.product-container .box{
       position: relative;
       padding: 10px;
       display: flex;
       flex-direction: column;
       justify-content: center;
       border-radius:0.5rem ;
        */

.w-bbg{
       height: 90vh !important;
       width: 100% !important;

}
.image1{
       height: 90vh;
       background-image: url(../images/w-bag-3.jpeg);
       background-position: center;
       background-repeat: no-repeat;
       background-size: cover;
}
.image2{
       height: 90vh;
       background-image: url(../images/w-bag-2.jpeg);
       background-position: center;
       background-repeat: no-repeat;
       background-size: cover;
}
.image3{
       height: 90vh;
       background-image: url(../images/gall-img3.jpeg);
       background-position: center;
       background-repeat: no-repeat;
       background-size: cover;
}
.image4{
       height: 90vh;
       background-image: url(../images/gall-img4.jpeg);
       background-position: center;
       background-repeat: no-repeat;
       background-size: cover;

}
.img-113{
       height: 90vh;
       /* background-image: url(../images/img-113in.avif);  */
       background-position: center;
       background-repeat: no-repeat;
       background-size: cover;
}
.img-114{
       height: 90vh;
       background-image: url(../images/1113.avif);
       background-position: center;
       background-repeat: no-repeat;
       background-size: cover;
}
.price-box{
       position: absolute;
       top: 50%;
       left: 50%;
       width: 350px !important;
       height: 300px;
       transform:translate(-50%,-75%);
       background-color: rgba(255, 255, 255, 0.603);
       transition: .5s;
       z-index: 1;
}
.price-box:hover{
       background-color: rgba(255, 255, 255, 0.9);
       transition: .5s;

}
.add-to-cart{
       width: 100%;
       height: 30px;
       border: 1px solid black;
}
.add-to-cart:hover{
       background-color: black;
       color: white;
       border: 1px solid white;
}
.img-113{
       height: 90vh;
       background-image: url(../images/img-02.avif);
       background-position: center;
       background-repeat: no-repeat;
       background-size: cover;
}
.line{
       width: auto;
       height: 1px;
       border: 1px solid black;
}
.img113{
       height: 90vh;
       background-image: url(../images/113.avif);
       background-position: center;
       background-repeat: no-repeat;
       background-size: cover;

}
.img-115{
       height: 90vh;
       background-image: url(../images/img-03.avif);
       background-position: center;
       background-repeat: no-repeat;
       background-size: cover;

}
.img115{
       height: 90vh;
       background-image: url(../images/115.avif);
       background-position: center;
       background-repeat: no-repeat;
       background-size: cover;

}
.img-11d{
       height: 80vh;
       background-image: url(../images/img-04.avif);
       background-position: center;
       background-repeat: no-repeat;
       background-size: cover;
       /* width: 100%; */
       height: 850px;
}
.img11d{
       height: 90vh;
       background-image: url(../images/11d.avif);
       background-position: center;
       background-repeat: no-repeat;
       background-size: cover;
       /* width: 100%; */
       height:850px;
}
.img-118{
       height: 80vh;
       background-image: url(../images/img-05.avif);
       background-position: center;
       background-repeat: no-repeat;
       background-size: cover;
       height:850px;
}
.img118{
       height: 90vh;
       background-image: url(../images/118.avif);
       background-position: center;
       background-repeat: no-repeat;
       background-size: cover;
       height:850px;
}
.img-119{
       height: 80vh;
       background-image: url(../images/img-06.avif);
       background-position: center;
       background-repeat: no-repeat;
       background-size: cover;
       height:850px; 
       
}
.img119h{
       height: 90vh;
       background-image: url(../images/119.avif);
       background-position: center;
       background-repeat: no-repeat;
       background-size: cover;
       height:850px; 
}
.img-110{
       height: 80vh;
       background-image: url(../images/img-07.avif);
       background-position: center;
       background-repeat: no-repeat;
       background-size: cover;
       height:850px; 
}
.img110{
       height: 90vh;
       background-image: url(../images/110.avif);
       background-position: center;
       background-repeat: no-repeat;
       background-size: cover;
       height:850px; 
}
.img-11f{
       height: 80vh;
       background-image: url(../images/img08.avif);
       background-position: center;
       background-repeat: no-repeat;
       background-size: cover;
       height:850px; 
}
.img11f{
       height: 90vh;
       background-image: url(../images/11f.avif);
       background-position: center;
       background-repeat: no-repeat;
       background-size: cover;
       height:850px; 

}
.img-1bbf{
       height: 80vh;
       background-image: url(../images/img-09.avif);
       background-position: center;
       background-repeat: no-repeat;
       background-size: cover;
       height:850px;       
}
.img1bbf{
       height: 90vh;
       background-image: url(../images/1bbf.avif);
       background-position: center;
       background-repeat: no-repeat;
       background-size: cover;
       height:850px; 

}
.img-1b{
       height: 80vh;
       background-image: url(../images/img-10.avif);
       background-position: center;
       background-repeat: no-repeat;
       background-size: cover;
       height:850px;
}
.img1b{
       height: 90vh;
       background-image: url(../images/1b.avif);
       background-position: center;
       background-repeat: no-repeat;
       background-size: cover;
       height:850px; 
}
.img-guci1{
       height: 80vh;
       background-image: url(../images/img-11.avif);
       background-position: center;
       background-repeat: no-repeat;
       background-size: cover;
       height:850px;
}
.imgguci1{
       height: 90vh;
       background-image: url(../images/guci1.avif);
       background-position: center;
       background-repeat: no-repeat;
       background-size: cover;
       height:850px; 
}
.img-ibg{
       height: 80vh;
       background-image: url(../images/img-12.avif);
       background-position: center;
       background-repeat: no-repeat;
       background-size: cover;
       height:850px;
}
.imgibg{
       height: 90vh;
       background-image: url(../images/ibguci.avif);
       background-position: center;
       background-repeat: no-repeat;
       background-size: cover;
       height:850px; 
}
.img-tt2{
       height: 80vh;
       background-image: url(../images/img-13.avif);
       background-position: center;
       background-repeat: no-repeat;
       background-size: cover;
       height:850px;
}
.imgtt2{
       height: 90vh;
       background-image: url(../images/tt2.avif);
       background-position: center;
       background-repeat: no-repeat;
       background-size: cover;
       height:850px; 
}
.img-tt1{
       height: 80vh;
       background-image: url(../images/img-14.avif);
       background-position: center;
       background-repeat: no-repeat;
       background-size: cover;
       height:850px;
}
.imgtt1{
       height: 90vh;
       background-image: url(../images/tt1.avif);
       background-position: center;
       background-repeat: no-repeat;
       background-size: cover;
       height:850px; 
}
.img-tt9{
       height: 80vh;
       background-image: url(../images/img-15.avif);
       background-position: center;
       background-repeat: no-repeat;
       background-size: cover;
       height:850px;
}
.imgtt9{
       height: 90vh;
       background-image: url(../images/tt9.avif);
       background-position: center;
       background-repeat: no-repeat;
       background-size: cover;
       height:850px; 
}
.img-tt5{
       height: 80vh;
       background-image: url(../images/img-16.avif);
       background-position: center;
       background-repeat: no-repeat;
       background-size: cover;
       height:850px;
}
.imgtt5{
       height: 90vh;
       background-image: url(../images/tt5.avif);
       background-position: center;
       background-repeat: no-repeat;
       background-size: cover;
       height:850px; 

}

/* mnain-tt-styling-start */
.main-tt{
       height: 850vh;
       background-image: url(../images/main-tt.avif);
       background-position: center;
       background-repeat: no-repeat;
       background-size: cover;
       object-fit: cover;
       object-position: center;
       height: 850px;
}

.main-tt img{
       object-fit: cover;
       object-position: center;
}
 .than-now1{
       text-align: center;
       font-size: 36px;
       line-height: 35px;
       color: #313131;
       padding-top: 30px;
        text-decoration: underline;       
}
.ppp-t{
       font-size: 20px;
       line-height: 36px;
       color: #666666;
}
.main-tt-1{
       width: 100%; 
       height: 350px;
       background-repeat: no-repeat;
       background-size: 300px; 
       position: relative !important;
           
} 
.main-tt-1 img{
       width: 100%;
}

.main-tt2 img{
       width: 100%;
}
.price{
       position: absolute;
       right: 10px;
       top: 0;
}
.main-tt3 img{
       width: 100%;
}
.main-tt4 img{
       width: 100%;
}
.name-g{
       position: relative;
       bottom: 0;
}

.main-tt2{
        height: 350px;
        width: 100%;
       background-size: 300px;
       background-repeat: no-repeat;
       position: relative !important;        
}
.main-tt3{
        height: 350px; 
        width: 100%;
       background-repeat: no-repeat;
       background-size: 300px;
       position: relative !important;
      
}

.main-tt4{
       background-size: 300px;
       width: 100%;
       background-repeat: no-repeat;
       position: relative !important;
}






















/* nain-tt-styling-end */









































































/* gallery-styling-start */
.img-li{
       height: 80vh;
       background-image: url(../images/bgp-1.avif);
       background-position: center;
       background-repeat: no-repeat;
       background-size: cover;
       height:850px;

}
.imgl1{
       height: 80vh;
       background-image: url(../images/l-1.avif);
       background-position: center;
       background-repeat: no-repeat;
       background-size: cover;
       height:850px;
}
.img-bgp{
       height: 80vh;
       background-image: url(../images/bgp-2.avif);
       background-position: center;
       background-repeat: no-repeat;
       background-size: cover;
       height:850px;
}
.img-l-2{
       height: 80vh;
       background-image: url(../images/l-2.avif);
       background-position: center;
       background-repeat: no-repeat;
       background-size: cover;
       height:850px;
}
.img-bgp3{
       height: 80vh;
       background-image: url(../images/bgp-3.avif);
       background-position: center;
       background-repeat: no-repeat;
       background-size: cover;
       height:850px;
}
.img-l-3{
       height: 80vh;
       background-image: url(../images/l-3.avif);
       background-position: center;
       background-repeat: no-repeat;
       background-size: cover;
       height:850px;
}
.img-bgp4{
       height: 80vh;
       background-image: url(../images/bgp-4.avif);
       background-position: center;
       background-repeat: no-repeat;
       background-size: cover;
       height:850px;
}
.img-l-4{
       height: 80vh;
       background-image: url(../images/l-4.avif);
       background-position: center;
       background-repeat: no-repeat;
       background-size: cover;
       height:850px;
}
.img-bgp5{
       height: 80vh;
       background-image: url(../images/bgp-5.avif);
       background-position: center;
       background-repeat: no-repeat;
       background-size: cover;
       height:850px;
}
.img-l-5{
       height: 80vh;
       background-image: url(../images/l-5.avif);
       background-position: center;
       background-repeat: no-repeat;
       background-size: cover;
       height:850px;
}
.img-bgp6{
       height: 80vh;
       background-image: url(../images/f-u-c-k.avif);
       background-position: center;
       background-repeat: no-repeat;
       background-size: cover;
       height:850px;
}
.img-l-6{
       height: 80vh;
       background-image: url(../images/l-6.avif);
       background-position: center;
       background-repeat: no-repeat;
       background-size: cover;
       height:850px;
}
.img-bgp7{
       height: 80vh;
       background-image: url(../images/bgp-7.avif);
       background-position: center;
       background-repeat: no-repeat;
       background-size: cover;
       height:850px;
}
.img-l-7{
       height: 80vh;
       background-image: url(../images/l-7.avif);
       background-position: center;
       background-repeat: no-repeat;
       background-size: cover;
       height:850px;
}
.img-bgp8{
       height: 80vh;
       background-image: url(../images/bgp-8.avif);
       background-position: center;
       background-repeat: no-repeat;
       background-size: cover;
       height:850px;
}
.img-l-8{
       height: 80vh;
       background-image: url(../images/l-8.avif);
       background-position: center;
       background-repeat: no-repeat;
       background-size: cover;
       height:850px;
}
.img-bgp09{
       height: 80vh;
       background-image: url(../images/bbg09.avif);
       background-position: center;
       background-repeat: no-repeat;
       background-size: cover;
       height:850px;
}
.img-l-9{
       height: 80vh;
       background-image: url(../images/l-9.avif);
       background-position: center;
       background-repeat: no-repeat;
       background-size: cover;
       height:850px;
}
.img-bgp-010{
       height: 80vh;
       background-image: url(../images/bb-010-.avif);
       background-position: center;
       background-repeat: no-repeat;
       background-size: cover;
       height:850px;     
}
.img-l-10{
       height: 80vh;
       background-image: url(../images/l-10.avif);
       background-position: center;
       background-repeat: no-repeat;
       background-size: cover;
       height:850px;
}
.img-bbg-11{
       height: 80vh;
       background-image: url(../images/bbg-11.avif);
       background-position: center;
       background-repeat: no-repeat;
       background-size: cover;
       height:850px; 
}
.img-l-11{
       height: 80vh;
       background-image: url(../images/l-11.avif);
       background-position: center;
       background-repeat: no-repeat;
       background-size: cover;
       height:850px;

}









/* gallery-styling-end */


.image-trans{
       transition: .5s all;
}
.image-trans:hover {
       transform: scale(1.05);
       transition: .4s all;
       filter: 0.;
}

.mine{
       text-align: justify;
}





.location-icon{

       width: 40px;
       height: 40px;
       background-color: black;
       color: white;
       border-radius: 50%;
       text-align: center;
       align-items: center;
}
.location-icon:hover{
       background-color: white;
       color: black;
}
.map{
       width: 600px;
       height: 500px;
}
@media only screen and (max-width: 767px) {
       .map{
              width: 95% !important;
              height: 350px !important;
       }
}